[submodule "LLaMA-Factory"]
	path = LLaMA-Factory
	url = https://github.com/hiyouga/LLaMA-Factory.git
[submodule "opencompass"]
	path = opencompass
	url = https://github.com/open-compass/opencompass.git
[submodule "datadreamer"]
	path = datadreamer
	url = git@github.com:Word2VecT/DataDreamer.git
